@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

html {
    margin: 0;
    padding: 0;
    background-color: #0a192f;
    scroll-behavior: smooth;
}

/* Navigation bar*/
.navbar{
    background: rgba(10, 25, 47, 8);
}
a{
    padding: 0 4px 0 4px;   
}

/* Landing page */
.background {
    background-image: url("../assets/images/victor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 99.8vh;
}


a {
    color: #f96d15;
}

.w3-wide {
    background-color: #8892b0;
}


#particles{
    background-color: rgba(10, 25, 47, 0.8);
    height: inherit;
}

.lines {
    display: flex;
}

.content {
    position: relative;
    top: 200px;
    display: flex;
    justify-content: space-around;
}

.home-content {
    position: relative;
    top: 60px;
    left: -40px;
}

.home-text {
    font-size: 35px;
    font-family: 'Fredericka the Great', cursive;
}

.home-text-large {
    font-size: 80px;
    font-family: 'Fredericka the Great', cursive;
}

.left {
    position: relative;
}

#big-line {
    height: 280px;
    width: 3px;
    background-color: #f96d15;
    position: relative;
}

#small-line {
    position: relative;
    top: 40px;
    height: 180px;
    width: 2px;
    margin-left: 10px;
    background-color: #bb1542;
}

#e {
    color: #ffffff;
}

#o {
    color: #f96d15;
}

#me {
    color: #bb1542;
}

#dev {
    margin-top: 10px;
    font-size: 30px;
    font-family: 'morenaregular', serif;
    color: #00bd56;
}

.angle-b {
    color: #f96d15;
    margin-top: 10px;
    font-size: 40px;
    font-family: 'morenaextralight', serif;
}

/* About page */
#about{
    margin-top: 0;
    padding: 0;
    background-color: #0a192f;
    color: #8892b0;
    display: flex;
    justify-content: space-around;
}

.about-header{
    font-size: 35px;
    font-family: 'morenabold';
}
.about-text{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
/* Projects Page*/

.line-divider{
    height: 200px;
    width: 10px;
    background-color: #f96d15;
}
/* Skills Page */
.skills-header {
    font-size: 35px;
    font-family: 'morenabold';
}
.skills{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
i{
    font-size: 40px;
    padding: 10px;
}
.devicon-python-plain{
    color: purple;
}
/* Metrics page */

/* Contacts page */
#contact{
    padding: 0;
    margin: 30px 0 0 0;
    margin-top: -50px;
    background-color: #0a192f;
}
.contacts-header{
    font-size: 35px;
    color: #8892b0;
    font-family: 'morenabold';
}
i{
    font-size: 25px;
}
.fa-facebook{
    color: blue;
}
.footer-copyright{
 color: #8892b0;
 font-family: 'Courier New', Courier, monospace;
}

figcaption{
   font-family: 'Courier New', Courier, monospace;
}

/******** Media Queries ******/

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .background {
        height: 110vh;
        margin-top: -60px;
    }

    .vick {
        text-align: center;
    }

    .left, .lines {
        display: block;
    }

    .lines {
        display: grid;
        place-items: center;
        padding-top: -50px;
    }

    .home-content {
        margin-left: 30%;
    }

    .content {
        display: block;
    }

    #big-line {
        height: 2px;
        width: 250px;
        background-color: #f96d15;
    }

    #small-line {
        margin-left: 110px;
        margin-top: -40px;
        height: 2px;
        width: 170px;
        background-color: #bb1542;
    }

    /* About section small */
    #about{
    margin-top: 0;
    padding: 0;
    background-color: #0a192f;
    display: block;
    justify-content: space-between;
    }
    .about-desc{
        padding-left: 40px;
        padding-right: 40px;
    }
.skills{
    display: block;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
i{
    text-align: center;
    margin: 30px;
    font-size: 40px;
}
    
/*Projects Section*/


/* Skills Page */


}
